@tailwind utilities;
@tailwind components;
@tailwind base;
@import 'mixin';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  // @include hide-scroll;
  @apply h-full w-full;
  overflow: auto !important;
}
#app {
  @apply h-full w-full;
}
.header-menu-click {
  @apply flex items-center cursor-pointer text-base;
  color: var(--site-name-color);
  & > .el-icon {
    @apply mr-1;
  }
}
